.contact {
  padding-top: 30px;
  .container {


    .text-large {
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 40px;
    }

    .formArea {

      .main-group {

        .form-group {
          width: 320px;
          display: flex;
          flex-direction: column;
          margin: 10px auto;

          label {
            margin: 10px 0;
            text-align: left;
            font-size: 24px;
          }

          input {
            padding: 0 10px;
            font-size: 1.12em;
            outline: none;
            margin: auto;
            height: 40px;
            width: 320px;
            border: 1px solid $darkGray;
            border-radius: 5px;
          }
          input[type=text]:focus {
            border: 2px solid $purple;
          }
          input[type=email]:focus {
            border: 2px solid $purple;
          }
        }
      }

      .group {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 320px;

        label {
          margin: 10px 0;
          text-align: left;
          font-size: 24px;
        }

        #message {
          resize: none;
          font-size: 2em;
          padding: 10px;
          margin: 10px auto 30px;
          width: 320px;
          border: 1px solid $darkGray;
          border-radius: 5px;
          height: 260px;
          outline: none;

          &:focus {
            border: 2px solid $purple;
          }
        }

        .btn {
          cursor: pointer;
          outline: none;
          font-weight: 200;
          color: $white;
          font-size: 24px;
          width: 260px;
          height: 40px;
          border: none;
          border-radius: 30px;
          background: $purple;
          margin: auto;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .contact {
    padding-top: 50px;
    .container {
      width: 720px;
      margin: auto;

      .formArea {

        .main-group {
          display: flex;
          justify-content: space-between;
        }

        .group {
          display: flex;
          flex-direction: column;
          margin: 30px auto;
          width: 680px;

          label {
            margin: 10px 0;
            text-align: left;
            font-size: 24px;
          }

          #message {
            margin: 10px auto 30px;
            width: 100%;
            border: 1px solid $darkGray;
            border-radius: 5px;
            height: 260px;
            outline: none;
          }

          .btn {
            outline: none;
            font-weight: 200;
            color: $white;
            font-size: 24px;
            width: 260px;
            height: 40px;
            border: none;
            border-radius: 30px;
            background: $purple;
            margin: auto;
            margin-bottom: 70px;
          }
        }
      }
    }
  }
}
