.hero {
  width: 100%;

  .container {
    padding-top: 50px;
    text-align: center;

    .content {
      .title {
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 20px;
      }
      .description {
        font-size: 16px;
        color: $darkGray;
        width: 100%;
      }
      .btn {
        margin-top: 30px;
        cursor: pointer;
        color: $white;
        background: $purple;
        width: 200px;
        height: 40px;
        font-size: 1.5em;
        font-weight: 300;
        border-radius: 30px;
        border: none;
      }
    }
    .image {
      img {
        transform: scale(.75);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .hero {
    height: 82vh;
    padding-top: 100px;

    .container {
      display: flex;
      justify-content: space-between;

      .content {
        .title {
          font-weight: 100;
          font-size: 44px;
          margin-bottom: 20px;
        }

        .description {
          font-size: 20px;
          color: $darkGray;
          width: 440px;
        }
      }
    }
  }

}
