footer {
  height: 80px;
  bottom: 0;
  width: 100%;
  background: $white;

  ul {
    padding-top: 15px;
      display: flex;
      justify-content: center;
    li {
      text-align: center;
      list-style: none;
      margin: 0 40px;
      img {
        text-align: center;
        display: block;
        margin: 0 auto 10px;
        width: 25px;
        height: 25px;
      }

      a {
        color: $darkGray;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
