// @media screen and (max-width: 1250px) {
//   .navBar {
//     padding: 20px;
//   }
//
//   .hero {
//     padding: 20px;
//     padding-top: 200px;
//   }
// }
//
// @media screen and (max-width: 900px) {
//   .hero {
//     .container {
//       .content {
//         .title {
//           font-weight: 100;
//           font-size: 30px;
//         }
//
//         .description {
//           font-size: 16px;
//           color: $darkGray;
//           width: 320px;
//         }
//
//         .btn {
//           height: 40px;
//           font-size: 1.5em;
//           width: 150px;
//         }
//       }
//     }
//   }
// }
//
// @media screen and (max-width: 600px) {
//   .navBar {
//     .container {
//       .menu {
//         display: none;
//       }
//     }
//   }
//
//   .hero {
//     padding-top: 100px;
//     .container {
//       display: block;
//       .content {
//         text-align: center;
//         .title {
//           font-weight: 100;
//           font-size: 30px;
//         }
//
//         .description {
//           font-size: 16px;
//           color: $darkGray;
//           width: 100%;
//         }
//       }
//
//       .image {
//         margin-bottom: -20px;
//       }
//     }
//   }
//
//   footer {
//     height: 130px;
//     position: static;
//     bottom: 0;
//     width: 100%;
//     background: $white;
//
//     ul {
//       padding-top: 30px;
//         display: flex;
//         justify-content: center;
//       li {
//         text-align: center;
//         list-style: none;
//         margin: 0 20px;
//         img {
//           text-align: center;
//           display: block;
//           margin: 0 auto 20px;
//           width: 40px;
//           height: 40px;
//         }
//
//         a {
//           color: $darkGray;
//         }
//       }
//     }
//   }
// }
//
//
// //////
// .portfolio {
//   padding-top: 100px;
//
//   .container {
//     max-width: 1100px;
//   }
//
//   .text-large {
//     font-size: 42px;
//     font-weight: 100;
//     text-align: center;
//     margin-bottom: 40px;
//   }
//
//   .row {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//
//     .card {
//       box-shadow: 5px 5px 15px $darkGray;
//       height: 280px;
//       width: 260px;
//       border-radius: 10px;
//       margin: 1em auto;
//       background: $purple;
//
//       .image {
//         border-radius: 10px 10px 0 0;
//         margin: none;
//         height: 220px;
//
//         img {
//           border-radius: 10px 10px 0 0;
//           height: 100%;
//         }
//       }
//
//       .info {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: none;
//         height: 60px;
//         background: $purple;
//         border: none;
//         font-size: 20px;
//         color: $white;
//         border-radius: 0 0 10px 10px;
//       }
//     }
//   }
// }
// ////
