.portfolio {
  padding-top: 70px;

  .container {
    max-width: 1100px;
  }

  .text-large {
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
  }

  .row {
    display: grid;
    grid-template-columns: auto;

    .card {
      box-shadow: 5px 5px 15px $darkGray;
      height: 280px;
      width: 260px;
      border-radius: 10px;
      margin: 1em auto;
      background: $purple;

      .image {
        border-radius: 10px 10px 0 0;
        margin: none;
        height: 220px;

        img {
          border-radius: 10px 10px 0 0;
          height: 100%;
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: none;
        height: 60px;
        background: $purple;
        border: none;
        font-size: 20px;
        color: $white;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .portfolio {
    padding-top: 70px;
    .row {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}

@media screen and (min-width: 830px) {
  .portfolio {
    padding-top: 20px;

    .container {
      max-width: 1100px;
    }

    .text-large {
      font-size: 42px;
      font-weight: 100;
      text-align: center;
      margin-bottom: 40px;
    }

    .row {
      margin-bottom: 40px;
      display: grid;
      grid-template-columns: auto auto auto;

      .card {
        box-shadow: 5px 5px 15px $darkGray;
        height: 280px;
        width: 260px;
        border-radius: 10px;
        margin: 1em auto;
        background: $purple;

        .image {
          border-radius: 10px 10px 0 0;
          margin: none;
          height: 220px;

          img {
            border-radius: 10px 10px 0 0;
            height: 100%;
          }
        }

        .info {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: none;
          height: 60px;
          background: $purple;
          border: none;
          font-size: 20px;
          color: $white;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}
